
@font-face {
    font-family:"Mona Sans SemiBold";
    src:url("MonaSans-SemiBold.woff2") format("woff2"),url("MonaSans-SemiBold.woff") format("woff"),url("MonaSans-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        